---
import PageLayout from "@/layouts/Base.astro";
import { Image } from "astro:assets";
import WhileSleeping from "@/assets/while-sleeping.png";
const meta = {
	description: "I'm a starter theme for Astro.build",
	title: "About",
};
---

<PageLayout meta={meta}>
	<div class="">
		<h1 class="title">About</h1>
		<div class="hidden columns-2 md:columns-3">
			<div
				class="relative mb-4 before:absolute before:inset-0 before:rounded-md before:bg-black before:bg-opacity-20 before:content-['']"
			>
				<img class="w-full rounded-md" src="https://source.unsplash.com/random/1" />
				<div class="test__body absolute inset-0 flex flex-col p-8 text-white">
					<div class="relative">
						<a class="test__link absolute inset-0" target="_blank" href="/"></a>
						<h1 class="test__title mb-3 text-3xl font-bold">Title post</h1>
						<p class="test__author font-sm font-light">Author</p>
					</div>
				</div>
			</div>

			<div
				class="relative mb-4 before:absolute before:inset-0 before:rounded-md before:bg-black before:bg-opacity-20 before:content-['']"
			>
				<img class="w-full rounded-md" src="https://source.unsplash.com/random/2" />
				<div class="test__body absolute inset-0 flex flex-col p-8 text-white">
					<div class="relative">
						<a class="test__link absolute inset-0" target="_blank" href="/"></a>
						<h1 class="test__title mb-3 text-3xl font-bold">Title post</h1>
						<p class="test__author font-sm font-light">Author</p>
					</div>
				</div>
			</div>

			<div
				class="relative mb-4 before:absolute before:inset-0 before:rounded-md before:bg-black before:bg-opacity-20 before:content-['']"
			>
				<img class="w-full rounded-md" src="https://source.unsplash.com/random/3" />
				<div class="test__body absolute inset-0 flex flex-col p-8 text-white">
					<div class="relative">
						<a class="test__link absolute inset-0" target="_blank" href="/"></a>
						<h1 class="test__title mb-3 text-3xl font-bold">Title post</h1>
						<p class="test__author font-sm font-light">Author</p>
					</div>
					<div class="mt-auto">
						<span class="test__tag rounded-md bg-white bg-opacity-60 px-4 py-1 text-black"
							>#tag</span
						>
					</div>
				</div>
			</div>

			<div
				class="relative mb-4 before:absolute before:inset-0 before:rounded-md before:bg-black before:bg-opacity-20 before:content-['']"
			>
				<img class="w-full rounded-md" src="https://source.unsplash.com/random/4" />
				<div class="test__body absolute inset-0 flex flex-col p-8 text-white">
					<div class="relative">
						<a class="test__link absolute inset-0" target="_blank" href="/"></a>
						<h1 class="test__title mb-3 text-3xl font-bold">Title post</h1>
						<p class="test__author font-sm font-light">Author</p>
					</div>
					<div class="mt-auto">
						<span class="test__tag rounded-md bg-white bg-opacity-60 px-4 py-1 text-black"
							>#tag</span
						>
					</div>
				</div>
			</div>

			<div
				class="relative mb-4 before:absolute before:inset-0 before:rounded-md before:bg-black before:bg-opacity-20 before:content-['']"
			>
				<img class="w-full rounded-md" src="https://source.unsplash.com/random/5" />
				<div class="test__body absolute inset-0 flex flex-col p-8 text-white">
					<div class="relative">
						<a class="test__link absolute inset-0" target="_blank" href="/"></a>
						<h1 class="test__title mb-3 text-3xl font-bold">Title post</h1>
						<p class="test__author font-sm font-light">Author</p>
					</div>
					<div class="mt-auto">
						<span class="test__tag rounded-md bg-white bg-opacity-60 px-4 py-1 text-black"
							>#tag</span
						>
					</div>
				</div>
			</div>

			<div
				class="relative mb-4 before:absolute before:inset-0 before:rounded-md before:bg-black before:bg-opacity-20 before:content-['']"
			>
				<img class="w-full rounded-md" src="https://source.unsplash.com/random/6" />
				<div class="test__body absolute inset-0 flex flex-col p-8 text-white">
					<div class="relative">
						<a class="test__link absolute inset-0" target="_blank" href="/"></a>
						<h1 class="test__title mb-3 text-3xl font-bold">Title post</h1>
						<p class="test__author font-sm font-light">Author</p>
					</div>
					<div class="mt-auto">
						<span class="test__tag rounded-md bg-white bg-opacity-60 px-4 py-1 text-black"
							>#tag</span
						>
					</div>
				</div>
			</div>

			<div
				class="relative mb-4 before:absolute before:inset-0 before:rounded-md before:bg-black before:bg-opacity-20 before:content-['']"
			>
				<img class="w-full rounded-md" src="https://source.unsplash.com/random/7" />
				<div class="test__body absolute inset-0 flex flex-col p-8 text-white">
					<div class="relative">
						<a class="test__link absolute inset-0" target="_blank" href="/"></a>
						<h1 class="test__title mb-3 text-3xl font-bold">Title post</h1>
						<p class="test__author font-sm font-light">Author</p>
					</div>
					<div class="mt-auto">
						<span class="test__tag rounded-md bg-white bg-opacity-60 px-4 py-1 text-black"
							>#tag</span
						>
					</div>
				</div>
			</div>

			<div
				class="relative mb-4 before:absolute before:inset-0 before:rounded-md before:bg-black before:bg-opacity-20 before:content-['']"
			>
				<img class="w-full rounded-md" src="https://source.unsplash.com/random/8" />
				<div class="test__body absolute inset-0 flex flex-col p-8 text-white">
					<div class="relative">
						<a class="test__link absolute inset-0" target="_blank" href="/"></a>
						<h1 class="test__title mb-3 text-3xl font-bold">Title post</h1>
						<p class="test__author font-sm font-light">Author</p>
					</div>
					<div class="mt-auto">
						<span class="test__tag rounded-md bg-white bg-opacity-60 px-4 py-1 text-black"
							>#tag</span
						>
					</div>
				</div>
			</div>

			<div
				class="relative mb-4 before:absolute before:inset-0 before:rounded-md before:bg-black before:bg-opacity-20 before:content-['']"
			>
				<img class="w-full rounded-md" src="https://source.unsplash.com/random/9" />
				<div class="test__body absolute inset-0 flex flex-col p-8 text-white">
					<div class="relative">
						<a class="test__link absolute inset-0" target="_blank" href="/"></a>
						<h1 class="test__title mb-3 text-3xl font-bold">Title post</h1>
						<p class="test__author font-sm font-light">Author</p>
					</div>
					<div class="mt-auto">
						<span class="test__tag rounded-md bg-white bg-opacity-60 px-4 py-1 text-black"
							>#tag</span
						>
					</div>
				</div>
			</div>

			<div
				class="relative mb-4 before:absolute before:inset-0 before:rounded-md before:bg-black before:bg-opacity-20 before:content-['']"
			>
				<img class="w-full rounded-md" src="https://source.unsplash.com/random/10" />
				<div class="test__body absolute inset-0 flex flex-col p-8 text-white">
					<div class="relative">
						<a class="test__link absolute inset-0" target="_blank" href="/"></a>
						<h1 class="test__title mb-3 text-3xl font-bold">Title post</h1>
						<p class="test__author font-sm font-light">Author</p>
					</div>
					<div class="mt-auto">
						<span class="test__tag rounded-md bg-white bg-opacity-60 px-4 py-1 text-black"
							>#tag</span
						>
					</div>
				</div>
			</div>

			<div
				class="relative mb-4 before:absolute before:inset-0 before:rounded-md before:bg-black before:bg-opacity-20 before:content-['']"
			>
				<img class="w-full rounded-md" src="https://source.unsplash.com/random/11" />
				<div class="test__body absolute inset-0 flex flex-col p-8 text-white">
					<div class="relative">
						<a class="test__link absolute inset-0" target="_blank" href="/"></a>
						<h1 class="test__title mb-3 text-3xl font-bold">Title post</h1>
						<p class="test__author font-sm font-light">Author</p>
					</div>
					<div class="mt-auto">
						<span class="test__tag rounded-md bg-white bg-opacity-60 px-4 py-1 text-black"
							>#tag</span
						>
					</div>
				</div>
			</div>

			<div
				class="relative mb-4 before:absolute before:inset-0 before:rounded-md before:bg-black before:bg-opacity-20 before:content-['']"
			>
				<img class="w-full rounded-md" src="https://source.unsplash.com/random/12" />
				<div class="test__body absolute inset-0 flex flex-col p-8 text-white">
					<div class="relative">
						<a class="test__link absolute inset-0" target="_blank" href="/"></a>
						<h1 class="test__title mb-3 text-3xl font-bold">Title post</h1>
						<p class="test__author font-sm font-light">Author</p>
					</div>
					<div class="mt-auto">
						<span class="test__tag rounded-md bg-white bg-opacity-60 px-4 py-1 text-black"
							>#tag</span
						>
					</div>
				</div>
			</div>

			<div
				class="relative mb-4 before:absolute before:inset-0 before:rounded-md before:bg-black before:bg-opacity-20 before:content-['']"
			>
				<img class="w-full rounded-md" src="https://source.unsplash.com/random/13" />
				<div class="test__body absolute inset-0 flex flex-col p-8 text-white">
					<div class="relative">
						<a class="test__link absolute inset-0" target="_blank" href="/"></a>
						<h1 class="test__title mb-3 text-3xl font-bold">Title post</h1>
						<p class="test__author font-sm font-light">Author</p>
					</div>
					<div class="mt-auto">
						<span class="test__tag rounded-md bg-white bg-opacity-60 px-4 py-1 text-black"
							>#tag</span
						>
					</div>
				</div>
			</div>

			<div
				class="relative mb-4 before:absolute before:inset-0 before:rounded-md before:bg-black before:bg-opacity-20 before:content-['']"
			>
				<img class="w-full rounded-md" src="https://source.unsplash.com/random/14" />
				<div class="test__body absolute inset-0 flex flex-col p-8 text-white">
					<div class="relative">
						<a class="test__link absolute inset-0" target="_blank" href="/"></a>
						<h1 class="test__title mb-3 text-3xl font-bold">Title post</h1>
						<p class="test__author font-sm font-light">Author</p>
					</div>
					<div class="mt-auto">
						<span class="test__tag rounded-md bg-white bg-opacity-60 px-4 py-1 text-black"
							>#tag</span
						>
					</div>
				</div>
			</div>

			<div
				class="relative mb-4 inline-block before:absolute before:inset-0 before:rounded-md before:bg-black before:bg-opacity-20 before:content-['']"
			>
				<img class="w-full rounded-md" src="https://source.unsplash.com/random/15" />
				<div class="test__body absolute inset-0 flex flex-col p-8 text-white">
					<div class="relative">
						<a class="test__link absolute inset-0" target="_blank" href="/"></a>
						<h1 class="test__title mb-3 text-3xl font-bold">Title post</h1>
						<p class="test__author font-sm font-light">Author</p>
					</div>
					<div class="mt-auto">
						<span class="test__tag rounded-md bg-white bg-opacity-60 px-4 py-1 text-black"
							>#tag</span
						>
					</div>
				</div>
			</div>

			<div
				class="relative mb-4 before:absolute before:inset-0 before:rounded-md before:bg-black before:bg-opacity-20 before:content-['']"
			>
				<img class="w-full rounded-md" src="https://source.unsplash.com/random/16" />
				<div class="test__body absolute inset-0 flex flex-col p-8 text-white">
					<div class="relative">
						<a class="test__link absolute inset-0" target="_blank" href="/"></a>
						<h1 class="test__title mb-3 text-3xl font-bold">Title post</h1>
						<p class="test__author font-sm font-light">Author</p>
					</div>
					<div class="mt-auto">
						<span class="test__tag rounded-md bg-white bg-opacity-60 px-4 py-1 text-black"
							>#tag</span
						>
					</div>
				</div>
			</div>

			<div
				class="relative mb-4 before:absolute before:inset-0 before:rounded-md before:bg-black before:bg-opacity-20 before:content-['']"
			>
				<img class="w-full rounded-md" src="https://source.unsplash.com/random/17" />
				<div class="test__body absolute inset-0 flex flex-col p-8 text-white">
					<div class="relative">
						<a class="test__link absolute inset-0" target="_blank" href="/"></a>
						<h1 class="test__title mb-3 text-3xl font-bold">Title post</h1>
						<p class="test__author font-sm font-light">Author</p>
					</div>
					<div class="mt-auto">
						<span class="test__tag rounded-md bg-white bg-opacity-60 px-4 py-1 text-black"
							>#tag</span
						>
					</div>
				</div>
			</div>

			<div
				class="relative mb-4 before:absolute before:inset-0 before:rounded-md before:bg-black before:bg-opacity-20 before:content-['']"
			>
				<img class="w-full rounded-md" src="https://source.unsplash.com/random/18" />
				<div class="test__body absolute inset-0 flex flex-col p-8 text-white">
					<div class="relative">
						<a class="test__link absolute inset-0" target="_blank" href="/"></a>
						<h1 class="test__title mb-3 text-3xl font-bold">Title post</h1>
						<p class="test__author font-sm font-light">Author</p>
					</div>
					<div class="mt-auto">
						<span class="test__tag rounded-md bg-white bg-opacity-60 px-4 py-1 text-black"
							>#tag</span
						>
					</div>
				</div>
			</div>

			<div
				class="relative mb-4 before:absolute before:inset-0 before:rounded-md before:bg-black before:bg-opacity-20 before:content-['']"
			>
				<img class="w-full rounded-md" src="https://source.unsplash.com/random/19" />
				<div class="test__body absolute inset-0 flex flex-col p-8 text-white">
					<div class="relative">
						<a class="test__link absolute inset-0" target="_blank" href="/"></a>
						<h1 class="test__title mb-3 text-3xl font-bold">Title post</h1>
						<p class="test__author font-sm font-light">Author</p>
					</div>
					<div class="mt-auto">
						<span class="test__tag rounded-md bg-white bg-opacity-60 px-4 py-1 text-black"
							>#tag</span
						>
					</div>
				</div>
			</div>

			<div
				class="relative mb-4 before:absolute before:inset-0 before:rounded-md before:bg-black before:bg-opacity-20 before:content-['']"
			>
				<img class="w-full rounded-md" src="https://source.unsplash.com/random/20" />
				<div class="test__body absolute inset-0 flex flex-col p-8 text-white">
					<div class="relative">
						<a class="test__link absolute inset-0" target="_blank" href="/"></a>
						<h1 class="test__title mb-3 text-3xl font-bold">Title post</h1>
						<p class="test__author font-sm font-light">Author</p>
					</div>
					<div class="mt-auto">
						<span class="test__tag rounded-md bg-white bg-opacity-60 px-4 py-1 text-black"
							>#tag</span
						>
					</div>
				</div>
			</div>

			<div
				class="relative mb-4 before:absolute before:inset-0 before:rounded-md before:bg-black before:bg-opacity-20 before:content-['']"
			>
				<img class="w-full rounded-md" src="https://source.unsplash.com/random/21" />
				<div class="test__body absolute inset-0 flex flex-col p-8 text-white">
					<div class="relative">
						<a class="test__link absolute inset-0" target="_blank" href="/"></a>
						<h1 class="test__title mb-3 text-3xl font-bold">Title post</h1>
						<p class="test__author font-sm font-light">Author</p>
					</div>
					<div class="mt-auto">
						<span class="test__tag rounded-md bg-white bg-opacity-60 px-4 py-1 text-black"
							>#tag</span
						>
					</div>
				</div>
			</div>

			<div
				class="relative mb-4 before:absolute before:inset-0 before:rounded-md before:bg-black before:bg-opacity-20 before:content-['']"
			>
				<img class="w-full rounded-md" src="https://source.unsplash.com/random/22" />
				<div class="test__body absolute inset-0 flex flex-col p-8 text-white">
					<div class="relative">
						<a class="test__link absolute inset-0" target="_blank" href="/"></a>
						<h1 class="test__title mb-3 text-3xl font-bold">Title post</h1>
						<p class="test__author font-sm font-light">Author</p>
					</div>
					<div class="mt-auto">
						<span class="test__tag rounded-md bg-white bg-opacity-60 px-4 py-1 text-black"
							>#tag</span
						>
					</div>
				</div>
			</div>

			<div
				class="relative mb-4 before:absolute before:inset-0 before:rounded-md before:bg-black before:bg-opacity-20 before:content-['']"
			>
				<img class="w-full rounded-md" src="https://source.unsplash.com/random/23" />
				<div class="test__body absolute inset-0 flex flex-col p-8 text-white">
					<div class="relative">
						<a class="test__link absolute inset-0" target="_blank" href="/"></a>
						<h1 class="test__title mb-3 text-3xl font-bold">Title post</h1>
						<p class="test__author font-sm font-light">Author</p>
					</div>
					<div class="mt-auto">
						<span class="test__tag rounded-md bg-white bg-opacity-60 px-4 py-1 text-black"
							>#tag</span
						>
					</div>
				</div>
			</div>

			<div
				class="relative mb-4 before:absolute before:inset-0 before:rounded-md before:bg-black before:bg-opacity-20 before:content-['']"
			>
				<img class="w-full rounded-md" src="https://source.unsplash.com/random/24" />
				<div class="test__body absolute inset-0 flex flex-col p-8 text-white">
					<div class="relative">
						<a class="test__link absolute inset-0" target="_blank" href="/"></a>
						<h1 class="test__title mb-3 text-3xl font-bold">Title post</h1>
						<p class="test__author font-sm font-light">Author</p>
					</div>
					<div class="mt-auto">
						<span class="test__tag rounded-md bg-white bg-opacity-60 px-4 py-1 text-black"
							>#tag</span
						>
					</div>
				</div>
			</div>

			<div
				class="relative mb-4 before:absolute before:inset-0 before:rounded-md before:bg-black before:bg-opacity-20 before:content-['']"
			>
				<img class="w-full rounded-md" src="https://source.unsplash.com/random/25" />
				<div class="test__body absolute inset-0 flex flex-col p-8 text-white">
					<div class="relative">
						<a class="test__link absolute inset-0" target="_blank" href="/"></a>
						<h1 class="test__title mb-3 text-3xl font-bold">Title post</h1>
						<p class="test__author font-sm font-light">Author</p>
					</div>
					<div class="mt-auto">
						<span class="test__tag rounded-md bg-white bg-opacity-60 px-4 py-1 text-black"
							>#tag</span
						>
					</div>
				</div>
			</div>
		</div>

		<h2 class="mt-8 text-lg font-semibold">Currently, I am</h2>
		<ul class="list-inside list-disc">
			<li>looking for a new Job.</li>
			<li>learning new Techs.</li>
			<li>learning Deutsch.</li>
			<li>preparing German Driver Licence.</li>
			<li>developing/contributing Open Source Projects.</li>
		</ul>

		<h2 class="mt-8 text-lg font-semibold">Resume</h2>
		<a href="/src/assets/resumex.pdf" class="x-link">PDF Download</a>
		<h2 class="mt-8 text-lg font-semibold">Goals</h2>
		I want to contribute projects. I want to make difference.
		<Image src={WhileSleeping} alt={""} class={" w-80 h-auto"}>
			<p class="hidden">
				Seeking opportunities with teams that: Have a clear product vision and a sense of balance
				amongst design and engineering disciplines. Collaborate daily and run retrospectives
				regularly. Utilize continuous integration and/or continuous delivery, pair programming and
				test-driven methodologies. Considering opportunities in San Francisco or remote.
			</p>

			<h2 class="mt-8 text-lg font-semibold">Skills</h2>

			<ul class="list-inside list-disc">
				<li>Web Development</li>
				<li>NodeJS</li>
				<li>Typescript</li>
				<li>Python</li>
				<li>Java - Java Spring</li>
				<li>Git VSC</li>
				<li>Test-Driven Development</li>
				<li>Backend Development</li>
				<li>NoSQL/SQL Databases</li>
				<li>Linux Bash Scripting</li>
			</ul>
			<h2 class="mt-8 text-lg font-semibold">Certificates</h2>

			<ul class="list-inside list-disc">
				<li>Linux System Engineer: Bash Shell Scripting for Automation | Linux | Bash</li>
				<li>
					Building Modern Projects with React | Linkedin | React | Redux | HTML | CSS | TailwindCSS
				</li>
				<li>Full Stack | The Meta | React | Django | Docker | Python</li>
				<li>
					C Programming with Linux Specialization | Dartmouth College Introduction to Cypress | Test
				</li>
				<li>Automation University IELTS Academic English B2 | IDP</li>
			</ul>

			<h2 class="mt-8 text-lg font-semibold">Projects</h2>
			<a class="x-link mt-4" href="/projects">Go to Projects</a>

			<ul class="hidden list-inside list-disc">
				<li>I'm ultra fast as I'm a static site</li>
				<li>I'm fully responsive</li>
				<li>I come with a light and dark mode</li>
				<li>I'm easy to customise and add additional content</li>
				<li>I have Tailwind CSS styling</li>
				<li>Shiki code syntax highlighting</li>
				<li>Satori for auto generating OG images for blog posts</li>
			</ul>
			<p class="hidden">
				Clone or fork my <a
					aria-label="github repository"
					class="x-link inline-block"
					href="https://github.com/chrismwilliams/astro-x"
					rel="noopener noreferrer"
					target="_blank">repo</a
				> if you like me!
			</p>
		</Image>
	</div>
</PageLayout>
