---
import type {HTMLTag, Polymorphic} from "astro/types";

import FormattedDate from "../FormattedDate.astro";

type SanityPostListItem = {
  title: string;
  slug: string;
  publishedAt?: string;
};

type Props<Tag extends HTMLTag> = Polymorphic<{as: Tag}> & {
  post: SanityPostListItem;
};

const {as: Tag = "div", post} = Astro.props;
const postDate = post.publishedAt ? new Date(post.publishedAt) : null;
---

{
  postDate ? (
    <FormattedDate
      class="min-w-[120px] text-gray-600 dark:text-gray-400"
      date={postDate}
    />
  ) : (
    <span class="min-w-[120px]" />
  )
}
<Tag>
  <a
    class="x-link font-semibold"
    data-astro-prefetch
    href={`/posts/${post.slug}/`}
  >
    {post.title}
  </a>
</Tag>
